// start .headerBlock
.headerBlock {
	--sPT: #{rem(26)};
	--sPB: #{rem(24)};
	// --sTPB: #{rem()}; 
	color: #fff;
	&__inner{
		max-width: rem(724);
		h1{
			margin-top: rem(40);
			margin-bottom: em(10);
		}
	}
	&__btn{
			 z-index: 1000;
			@include media-breakpoint-up(lg) { 
				top: calc(50% - #{rem(20px)} - var(--size)); 
			}
			@include media-breakpoint-up(xl) {
				top: calc(50% - #{rem(70px)} - var(--size));
			}
	}
	&__img-wrap{
		margin-left: auto;
		@include media-breakpoint-up(xl) {
			max-width: rem(432);
		} 
			@include media-breakpoint-up(lg) {
				@include rfs(432px, width);
			}
		position: relative;
		img{
			mask-image: url(../img/mask.svg); 
			mask-repeat: no-repeat;
			mask-size: 100%;
			mask-repeat: no-repeat;
			mask-position: center;
			@extend .res-i;
		}
		position: relative;
	}  
	&__labels{
		display: flex;
		@include roww(8px,  8px, m);
		flex-wrap: wrap;
	}
	&__label{  
		border: 2px solid #fff;
		border-radius: $border-radius;
		// font-size: rem(24);
		padding: em(7.4) 16px;
		@include media-breakpoint-up(lg) {
			padding: em(9) em(10);
			@include rfs(24px);
		}
		line-height: calc(24 / 18);
		&.active{
			background-color: #fff;
			color: #10ABA1;
		}
	}
	
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
		@include media-breakpoint-up(lg) {

			.row{
				flex-wrap: nowrap;
			}
		} 

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock