
mixin sNeadStart(data)
	// start sNeadStart
	+b.SECTION.sNeadStart.section#sNeadStart&attributes(attributes)
		.container
			+b.section-title
				h2 Вам точно нужен &laquo;СТАРТ&raquo;, если&nbsp;вы:
				
			+e.row.row
				mixin item(t)
					+e.col.col-lg-6
						+e.item.card
							p!= t
				+item(`сталкиваетесь с&nbsp;трудностями вхождения  руководящую&nbsp;роль`)

				+item(`вам кажется, что вы&nbsp;&laquo;стагнируете&raquo;   и&nbsp;чувствуете признаки демотивации  и&nbsp;выгорания`)

				+item(`устали делать всё сами и&nbsp;хотите делегировать больше задач команде`)

				+item(`не&nbsp;определились, как позиционировать себя для своих подчиненных и&nbsp;руководства и&nbsp;все еще выбираете собственный управленческий стиль`)

				+item(`тратите время и&nbsp;энергию, чтобы понять,  куда и&nbsp;к&nbsp;кому идти за&nbsp;быстрым и&nbsp;грамотным решением  сложного вопроса`)

				+item(`хотите систематизировать управленческие навыки 
и&nbsp;получить инструменты для эффективного управления командой`)

			
	// end sNeadStart