include ../../layout/include.pug

+b.modal-win--text
	.custom-scroll()
		+e.inner
			.h3.strong Формальные критерии отбора
			.row
				.col-lg-6
					p #[strong Опыт работы в&nbsp;Правительстве Москвы]:  от&nbsp;3&nbsp;месяцев, пройден адаптационный период
				.col-lg-6
					p  #[strong Опыт управления:] от&nbsp;6&nbsp;месяцев до&nbsp;3&nbsp;лет  (как, в&nbsp;бизнесе, так, и&nbsp;на&nbsp;госслужбе)
				.col-lg-6
					p: strong Для Аппарата Мэра и&nbsp;Правительства Москвы:
					ul
						li заместитель начальника отдела
						li заведующие секторов
				.col-lg-6
					p: strong Для подведомственных организаций:
					ul
						li заместитель начальника управления
						li начальники отделов и должностей, приравненных к ним
				.col-lg-6
					p: strong Для департаментов, комитетов,  инспекций, управлений:
					ul
						li начальник отдела
						li заместитель начальника отдела
						li начальник сектора
				.col-lg-6
					p: strong Для префектур, управ:
					ul
						li заместитель начальника управления
						li начальник отдела