mixin sProgram(data)
	// start sProgram
	+b.SECTION.sProgram.section#sProgram&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6.order-lg-last
					+e.panel.card.h3
						+e.panel-title О программе
						+e.line 
							+iconC('icon-1')
							div
								+e.title-sm 3 месяца обучения: 10.10–15.12.2023
							
						+e.line 
							+iconC('icon-2')
							div
								+e.title-sm  3 онлайн-модуля по 6 часов каждый
								ul
									li 10.10–12.10.2023
									li 07.11–09.11.2023
									li 05.12–07.12.2023

						+e.line 
							+iconC('icon-3')
							div
								+e.title-sm Межмодульная работа по 5 часов
								ul
									li работы в парах
									li практика в малых группах
									li чаты с участниками и куратором
						+e.line 
							+iconC('icon-4')
							div
								+e.title-sm Для 20% лучших участников:
								ul
									li очная встреча с вручением сертификатов: 15.12.2023
						+e.line 
							+iconC('icon-5')
							div
								+e.title-sm  Для лучших из лучших
								ul
									li индивидуальная работа  
										br
										| с ментором — 4 месяца <br> 15.12.2023–15.03.2024
						+e.btn.btn.btn-primary.w-100(href="#")  Подать заявку
				.col-lg-6: +e.inner
					+b.section-title
						h2 Структура программы
					+e.up-text Модуль 1, онлайн  (10.10.2023–12.10.2023)
					+e.title «Роль руководителя»
					p Здесь вы: 
					ul
						li осознаете свою мотивацию в&nbsp;роли руководителя
						li увидите свои сильные стороны и&nbsp;векторы роста
						li создадите целевой образ себя как руководителя и&nbsp;спланируете шаги развития
						li расширите репертуар стилей поведения в&nbsp;конфликтной ситуации
						li посмотрите на&nbsp;личный бренд руководителя,  как&nbsp;на&nbsp;инструмент влияния
						
			+e.row.row
				.col-lg-6
					+e.time-blcok
						+e.time-title межмодульная работа:
						.row
							.col-auto
								+e.number 8
								.small часов <br> занятий
							.col-auto
								+e.number 5
								.small часов самостоятельной <br>  работы

				.col-lg-6: +e.inner 
					+e.up-text Модуль 2, онлайн (07.11.2023–09.11.2023)
					+e.title «Управленческий цикл»
					p Здесь вы:
					ul
						li освоите современные управленческие инструменты и&nbsp;технологии
						li сможете выбрать наиболее подходящий управленческий стиль для каждой ситуации
						li научитесь мотивирующей постановке задач и&nbsp;корректному делегированию
						li узнаете, как обеспечить выполнение заданий и&nbsp;поручений
						li поймете, как обратная связь влияет на&nbsp;мотивацию сотрудников и&nbsp;результативность их&nbsp;работы

			+e.row.row
				.col-lg-6: +e.inner 
					+e.up-text Модуль 3, онлайн (05.12.2023–07.12.2023)
					+e.title «Управление командой» 
					p Здесь вы: 
					ul
						li обнаружите разницу между командой, группой и&nbsp;коллективом
						li сможете формировать команду с&nbsp;учетом целей подразделения, ваших ценностей, имеющегося состава людей
						li научитесь позитивно влиять на&nbsp;мотивацию членов команды и&nbsp;достигать стабильных результатов
						li узнаете, как вовлечь команду в&nbsp;изменения и&nbsp;минимизировать сопротивление
						li освоите арсенал инструментов по&nbsp;преодолению кризисов команды
				.col-lg-6.d-none.d-lg-block
					+e.img-wrap
						+img("img/img-4.jpg")
			+e.row.row
				.col-lg-6.d-none.d-lg-block
				.col-lg-6: +e.inner 
					+e.up-text Финал, очно (15.12.2023)
					+e.title Мероприятие для 20% лучших
					ul
						li встреча с&nbsp;топ-руководителем Правительства Москвы
						li очный нетворкинг с&nbsp;участниками, показавшими лучшие результаты
						li крутые спикеры
						li для&nbsp;10% лучших из&nbsp;лучших знакомство с&nbsp;ментором
						li торжественное вручение сертификатов
					p Вы&nbsp;сформулируете новую амбициозную управленческую цель
			+e.row.row
				.col-lg-6: +e.inner 
					+e.up-text Индивидуальная работа с&nbsp;ментором&nbsp;&mdash; выпускником программы &laquo;Урбан&nbsp;Лидер&raquo; (15.12.2023&ndash;15.03.2024)
					+e.title Ментор-выпускник 
					p Вас ждет:
					ul
					li выстроите стратегию достижения цели
					li получите помощь в&nbsp;решении актуальных задач
					li освоите навыки партнерского взаимодействия для&nbsp;получения быстрого результата
					li разберете типичные управленческие ошибки

	// end sProgram