.top-nav {
			--sPT: 10px;
	--sPB: 10px;
	height: rem(80);
	display: flex;
	align-items: center;
	.container{
		@include media-breakpoint-up(md) {
			text-align: left;
		}
		text-align: center;
		// display: flex;
		// align-items: center;
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


