mixin sAtStart(data)
	// start sAtStart
	+b.SECTION.sAtStart.section#sAtStart&attributes(attributes)
		.container
			+b.section-title
				h2 На «СТАРТЕ» вы
				
			+e.row.row
				mixin item(t, p)
					+e.col.col-lg-6
						+e.item.card.text-center
							.card__title!= t
							p!= p
				+item(`встретитесь с&nbsp;топ-руководителями`,`Они поделятся опытом своего пути от&nbsp;эксперта 
до&nbsp;управленца высшего уровня в&nbsp;бизнесе и&nbsp;на&nbsp;госслужбе`)

				+item(`получите технологии управления командами`,`Все инструменты проверены флагманской программой &laquo;Урбан Лидер&raquo;`)

				+item(`получите пользу от&nbsp;нетворкинга`,`Вы&nbsp;будете регулярно получать экологичную обратную связь от&nbsp;других участников и&nbsp;делиться своими знаниями`)

				+item(`успешный опыт выпускников &laquo;Урбан&nbsp;Лидер&raquo;`,`Лучшие выпускники программы станут спикерами  на&nbsp;время обучения и&nbsp;менторами для&nbsp;10% лучших участников`)

				+item(`получите практику на&nbsp;реальных кейсах`,`Все кейсы и&nbsp;задания основаны на&nbsp;проблемных ситуациях участников для прокачивания нужных навыков`)

				+item(`станете частью сообщества &laquo;Урбана&nbsp;Лидер. СТАРТ&raquo;`,`Вы&nbsp;продолжите получать поддержку и&nbsp;развитие в&nbsp;рамках сообщества руководителей своего уровня`)
	// end sAtStart