// start .sAtStart
.sTopContributors,
.sAtStart {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		@include media-breakpoint-up(md) { 
			--bs-gutter-y: #{rem(32)};
		}
		--bs-gutter-y: 8px;
	}
	.section-title{
		color: #fff;
	}
	&__col{
		
	}
	&__item{
		
	}

	p{
		margin-bottom: 0;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAtStart