mixin sSituations(data)
	// start sSituations
	+b.SECTION.sSituations.section#sSituations&attributes(attributes)
		.container
			+b.section-title 
				h2 Вы&nbsp;будете разбирать с&nbsp;другими участниками реальные сложные управленческие ситуации
			+e.sub-title
				+e.sub-title-inner Три фокусных  формата
			+e.row.row
				+e.col.col-auto.d-none.d-md-block
					+e.img-wrap
						+img("img/img-1.jpg")
				.col
					ol 
						li Вы&nbsp;обсудите, как решать управленческие задачи с&nbsp;учетом структуры Правительства Москвы  и, возможно, найдете готовое решение,  уже&nbsp;обучаясь на&nbsp;программе

						li Вы&nbsp;будете работать в&nbsp;группах, обмениваться контактами, получать поддержку и&nbsp;делиться опытом с&nbsp;такими&nbsp;же руководителями

						li Вас ждет индивидуальная работа,  где вы&nbsp;сможете переосмыслить свой опыт и&nbsp;затем грамотно передавать его своим подчиненным
	// end sSituations